{% extends "base.html" %}
{% load static %}

{% block desk %}
اَبَرمقاله | abarword مقالات و توضیحاتی راجب به همه مباحث و همه سلیقه ها
{% endblock  %}

{% block ogdesk %}
مقالات و توضیحاتی راجب به همه مباحث و همه سلیقه ها"
{% endblock  %}

{% block title %}
    Abarword | Home Page
{% endblock  %}
    
{% block new %}
<div class="container">
    <div class="trending-now">
        <span class="trending-now__label">
            <i class="ui-flash"></i>
            خبرهای داغ</span>
        <div class="newsticker">
            <ul class="newsticker__list">
            {% for i in news %}
            <li class="newsticker__item"><a  class="newsticker__item-url">{{ i.description }}</a></li>
            {% endfor %}    
            </ul>
        </div>
        <div class="newsticker-buttons">
            <button class="newsticker-button newsticker-button--next" id="newsticker-button--next" aria-label="previous article"><i class="ui-arrow-left"></i></button>
            <button class="newsticker-button newsticker-button--prev" id="newsticker-button--prev" aria-label="next article"><i class="ui-arrow-right"></i></button>
        </div>
    </div>
</div>
{% endblock %}



{% block content %}

<div class="row">

    <!-- Posts -->
    <div class="col-lg-8 blog__content">

        <!-- Latest News -->
        <section class="section tab-post mb-16">
            <div class="title-wrap ">
                <h3 class="section-title">آخرین عنوان ها</h3>
            </div>

            <!-- tab content -->
            <div class="tabs__content tabs__content-trigger tab-post__tabs-content">

                
                <div class="tabs__content-pane tabs__content-pane--active" id="tab-all">
                    <div class="row card-row">
                        {% for i in last_posts %} 
                        <div class="col-md-6">
                            <article class="entry card">
                                <div class="entry__img-holder card__img-holder">
                                    <a href="{% url 'detail' i.slug %}">
                                        <div class="thumb-container thumb-70">
                                            <img src="{% if i.image.url == '' %}{% static '/img/empty.png' %}{% else %}{{ i.image.url }}{% endif %}" class="entry__img lazyloaded" alt="">
                                        </div>
                                    </a>
                                    <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">{{ i.category.title }}</a>
                                </div>

                                <div class="entry__body card__body">
                                    <div class="entry__header">

                                        <h2 class="entry__title">
                                            <a href="{% url 'detail' i.slug %}">{{ i.title }}</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            
                                            <li class="entry__meta-date">
                                                {{ i.date }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry__excerpt">
                                        <p>{{ i.description }}</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div> <!-- end pane 1 -->
                

            </div> <!-- end tab content -->
        </section> <!-- end latest news -->

    </div> <!-- end posts -->

    <!-- Sidebar -->
    <aside class="col-lg-4 sidebar sidebar--1 sidebar--right">

        <!-- Widget Categories -->
        <aside class="widget widget_categories">
            <h4 class="widget-title">دسته بندی مقالات</h4>
            <ul>
                {% for i in category %}
                    <li><a href="categories.html">{{ i.title }}</a></li>
                {% endfor %}
            </ul>
        </aside> <!-- end widget categories -->

        <!-- Widget Recommended (Rating) -->
        <aside class="widget widget-rating-posts">
            <h4 class="widget-title">منتخب سردبیر</h4>
            {% for i in best_posts %}
            <article class="entry">
                <div class="entry__img-holder">
                    <a href="{% url 'detail' i.slug %}">
                        <div class="thumb-container thumb-60">
                            <img src="{% if i.image.url == '' %}{% static '/img/empty.png' %}{% else %}{{ i.image.url }}{% endif %}" class="entry__img lazyloaded" alt="">
                        </div>
                    </a>
                </div>

                <div class="entry__body">
                    <div class="entry__header">

                        <h2 class="entry__title">
                            <a href="{% url 'detail' i.slug %}">{{ i.title }}</a>
                        </h2>
                        <ul class="entry__meta">
                            
                            <li class="entry__meta-date">
                                {{ i.date }}
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </article>
            
            {% endfor %}
        </aside> <!-- end widget recommended (rating) -->
    </aside>
</div>


{% endblock %}

{% block home_active %}
	active
{% endblock %}